/********************* Colour reference chart****************
aah green:        #a8cd38
aah light green:  #D2E89B
aah grey:         #6d6d6d
*/
body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 165px 0px 0px;
  color: #6d6d6d;
  background-color: #f5f5f5;
}

footer {
  padding: 50px 0px;
}

.content {
  padding: 150px 0px;
}

.bg-aah {
  background-color: #D2E89B;
}

.navbar {
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #6d6d6d;
}

.navbar-light .navbar-nav .nav-link {
  color: #6d6d6d;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-light .navbar-nav .active>.nav-link {
    border-bottom: 3px solid #6d6d6d;
}

.navbar-tabs a .active .nav-link,
.navbar-tabs a .nav-link:active,
.navbar-tabs a .nav-link:focus,
.navbar-tabs a:hover .nav-link {
    color: #6d6d6d;
    background: none;
}

.navbar-tabs a .nav-link {
  color: #6d6d6d;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent transparent #6d6d6d;
    border-bottom: 3px solid #6d6d6d;
}

.btn-aah {
  background-color: #a8cd38;
  color: #6d6d6d;
}

#imageSlider {
	margin-bottom: 30px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  height: 600px;
}

.indexSection {
  padding-top: 80px;
  padding-bottom: 80px;
}

.indexSection h2 {
  padding-bottom: 2rem;
}

.indexSection p {
  line-height: 2rem;
  font-size: 18px;
}

.indexSection article {
  padding-top: 20px;
  padding-bottom: 20px;
}

#indexGallery .row {
  margin: 10px
}

#indexGallery .row img{
  height: 300px;
  width: auto;
}


.aah-button,
.aah-button:hover,
.aah-button:visited{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #D2E89B;
  color: #6d6d6d;
  font-size: 22px;
}

#indexPost .row img{
  height: 250px;
}

#indexPost .row h5{
  height: 100px;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

#indexPost .row p{
  height: 250px;
  overflow: auto;
}

a,
a:hover,
a:visited{
  color: #6d6d6d;
}

footer h5{
  padding-bottom: 2 rem;
}

.aah-label{
  background-color: #D2E89B;
  color: #6d6d6d;
  font-size: 20px;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

#shopping{
  font-size: 28px;
}

.text-product-status {
  color: #ff6600;
  font-size: 14px;
}

#btn-like{
  color: red;
}

#form-email label{
  border: none;
  background-color: #f5f5f5;
  text-align: right;
}

#form-email .input-email{
  background-color: #D2E89B;
  text-align: left;
}
